@model MyDuoCards.Models.ViewModels.LoginModel

@{
	ViewData["Title"] = "Login";
}

<h1>Login</h1>
<hr />

@if (ViewData.ModelState.ContainsKey("isLoginFailed"))
{
	foreach (var err in @ViewData.ModelState["isLoginFailed"].Errors)
	{
		<h3>@err.ErrorMessage</h3>
	}
}

<form asp-action="Login" asp-controller="Authorization">
	<div class="form-group" style="width: 300px">
		<label class="form-label mt-0" asp-for="LoginOrEmail"></label>
		<input class="form-control" type="text" asp-for="LoginOrEmail" />
	</div>
	<div class="form-group" style="width: 300px">
		<label class="form-label mt-0" asp-for="Password"></label>
		<input class="form-control" type="password" asp-for="Password" />
	</div>
	<div class="form-group d-flex" style="margin-top: 10px">
		<input class="btn btn-success" style="margin-right: 10px" type="submit" value="Login" />
		<a class="btn btn-light" asp-action="Register">Register</a>
	</div>
	<small class="form-text text-muted">Don't have account? - Register</small>
</form>
