@model MyDuoCards.Models.DBModels.Dictionary

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Dictionary</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DictionaryStatementId" class="form-label mt-0"></label>
                <select asp-for="DictionaryStatementId" class="form-control text-dark" asp-items="ViewBag.DictionaryStatements"></select>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="form-label mt-0"></label>
                <select asp-for="UserId" class="form-control text-dark" asp-items="ViewBag.User"></select>
            </div>
            <div class="form-group">
                <label asp-for="EnWordId" class="form-label mt-0"></label>
                <select asp-for="EnWordId" class="form-control text-dark" asp-items="ViewBag.EnWord"></select>
            </div>
            <div class="form-group d-flex" style="margin-top: 10px">
                <input class="btn btn-success" style="margin-right: 10px" type="submit" value="Create" />
                <a class="btn btn-light" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

