@using MyDuoCards.Helpers
@model IEnumerable<MyDuoCards.Models.DBModels.RuWord>

@{
	ViewData["Title"] = "Index";
}

<h1>Favorite dictionary</h1>
@if (User is not null)
{
	<div>
		<h3>@User.Identity!.Name</h3>
		<a asp-action="Logout" asp-controller="Authorization">Logout</a>
	</div>
}
<div class="d-flex flex-wrap">
	@foreach (var item in Model)
	{
		@Html.CardView(
			item.EnWord,
			User.Identity.Name,
			x => Url.Action("AddTheDictionary", "Home", new { id = x }),
			x => Url.Action("RemoveDictionary", "Home", new { id = x })
		)
	}
</div>


