@using MyDuoCards.Helpers
@model IEnumerable<MyDuoCards.Models.DBModels.RuWord>

@{
	ViewData["Title"] = "Home";
}

<div class="d-flex">
	<h1 style="margin-right: 20px">Favorite dictionary of:</h1>
	@if (User is not null)
	{
		<h1 style="margin-right: 20px">@User.Identity!.Name</h1>
		<a class="btn btn-danger my-2 my-sm-1" asp-action="Logout" asp-controller="Account">Logout</a>
	}
</div>

<form asp-controller="Home" asp-action="Index" method="get">
	<p class="d-flex">
		<input class="form-control me-sm-2" type="text" name="searchString" value="@ViewData["searchString"]" />
		<input class="form-control me-sm-2" type="number" name="page" value="@ViewData["page"]" />
		<input class="btn btn-secondary my-2 my-sm-0" type="submit" value="Filter" />
	</p>
</form>

<h1>Favourite Bank</h1>
<div class="d-flex flex-wrap">
	@foreach (var item in Model)
	{
		@Html.CardView(
			item.EnWord,
			User.Identity.Name,
			x => Url.Action("AddTheDictionary", "Vocabulary", new { id = x }),
			x => Url.Action("RemoveDictionary", "Vocabulary", new { id = x })
		)
	}
</div>


