@using MyDuoCards.Helpers
@model IEnumerable<MyDuoCards.Models.DBModels.RuWord>

@{
	ViewData["Title"] = "Home";
}

<h1>Favorite dictionary</h1>
@if (User is not null)
{
	<div>
		<h3>@User.Identity!.Name</h3>
		<a asp-action="Logout" asp-controller="Authorization">Logout</a>
	</div>
}


