@model MyDuoCards.Models.ViewModels.LoginModel

@{
	ViewData["Title"] = "Login";
}


<h1>Login</h1>
<hr />

@if (ViewData.ModelState.ContainsKey("isLoginFailed"))
{
	foreach (var err in @ViewData.ModelState["isLoginFailed"].Errors)
	{
		<h3>@err.ErrorMessage</h3>
	}
}
<form asp-action="Login" asp-controller="Account">
	<div class="form-group">
		<label asp-for="LoginOrEmail"></label>
		<input type="text" asp-for="LoginOrEmail" />
	</div>
	<div class="form-group">
		<label asp-for="Password"></label>
		<input type="password" asp-for="Password" />
	</div>
	<div class="form-group">
		<input type="submit" value="Login" />
	</div>
</form>

<div>
	<p>Don't have account? <a asp-action="Register">Register</a></p>
</div>
