@model MyDuoCards.Models.ViewModels.RegisterModel

@{
	ViewData["Title"] = "Register";
}

<h1>Register</h1>
<hr />
@if (ViewData.ModelState.ContainsKey("isRegFailed"))
{
	foreach (var err in @ViewData.ModelState["isRegFailed"].Errors)
	{
		<h3>@err.ErrorMessage</h3>
	}
}
<form asp-action="Register" asp-controller="Account">
	<div class="form-group" style="width: 300px">
		<label class="form-label mt-0" asp-for="Login"></label>
		<input class="form-control" type="text" asp-for="Login" />
	</div>
	<div class="form-group" style="width: 300px">
		<label class="form-label mt-0" asp-for="Email"></label>
		<input class="form-control" type="email" asp-for="Email" />
		<small class="form-text text-muted">We'll never share your email with anyone else.</small>
	</div>
	<div class="form-group" style="width: 300px">
		<label class="form-label mt-0" asp-for="Password"></label>
		<input class="form-control" type="password" asp-for="Password" />
	</div>
	<div class="form-group" style="width: 300px">
		<label class="form-label mt-0" asp-for="ConfirmPassword"></label>
		<input class="form-control" type="password" asp-for="ConfirmPassword" />
	</div>
	<div class="form-group d-flex" style="margin-top: 10px">
		<input class="btn btn-success" style="margin-right: 10px" type="submit" value="Register" />
		<a class="btn btn-light" asp-action="Login">Back to Login</a>
	</div>
</form>
