@model MyDuoCards.Models.DBModels.RuWord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>RuWord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="RuWriting" class="form-label mt-0 control-label"></label>
                <input asp-for="RuWriting" class="form-control" />
                <span asp-validation-for="RuWriting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnWordId" class="form-label mt-0 control-label"></label>
                <select asp-for="EnWordId" class="form-control text-dark" asp-items="ViewBag.EnWordId"></select>
                <span asp-validation-for="EnWordId" class="text-danger"></span>
            </div>

            <div class="form-group d-flex" style="margin-top: 10px">
                <input class="btn btn-warning" style="margin-right: 10px" type="submit" value="Save" />
                <a class="btn btn-light" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

