<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyDuoCards</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/glassmorfic.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyDuoCards.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Account" asp-action="Login">MyDuoCards</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (User.Identity!.IsAuthenticated)
                {
                    <div class="collapse navbar-collapse" id="navbarColor02">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Home" asp-action="Index">
                                    Home
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Vocabulary" asp-action="Index">
                                    Vocabulary
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" asp-area="" asp-controller="Options" asp-action="Index">
                                    Options
                                    <span class="visually-hidden">(current)</span>
                                </a>
                            </li>
                            @if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                                        <div class="dropdown-menu" aria-labelledby="btnGroupDrop4" style="">
                                            <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
                                            <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Users" asp-action="Index">Users</a>
                                            <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="Dictionaries" asp-action="Index">Dictionaries</a>
                                            <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="DictionaryStatements" asp-action="Index">Dictionary Statements</a>
                                            <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="EnWords" asp-action="Index">English Words</a>
                                            <a class="dropdown-item text-dark" asp-area="Admin" asp-controller="RuWords" asp-action="Index">Russian Words</a>
                                        </div>
                                </li>
                            }
                            <li class="nav-item" style="margin-top: auto; margin-bottom: auto;">
                                <h5 class="text-success" style="margin: auto 10px">Your attendance streak:</h5>
                            </li>
                            <li class="nav-item" id="LastAttendance" style="margin-top: auto; margin-bottom: auto;">
                                <h5 class="text-success" style="margin: auto 0px">Loading</h5>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>

    <br></br>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-dark" data-bs-theme="dark">
        <div class="container">
            &copy; 2023 - MyDuoCards - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    @if (User.Identity!.IsAuthenticated)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $.ajax({
                    type: "GET",
                    url: "/Home/AttendanceGET",
                    dataType: "json",
                    success: function (data) {
                        if (data) {
                            //alert(typeof(data));
                            console.log("success!");
                            $('#LastAttendance').empty();
                            var h5Element = $('<h5>').text(data).attr('style', 'margin: auto 0px').addClass('text-success');
                            $('#LastAttendance').append(h5Element);
                        } else {
                            console.log('No attendance data available');
                        }
                    },
                    error: function (xhr) {
                        alert(xhr.status + ' Ошибка');
                    }
                });

                $.ajax({
                    type: "POST",
                    url: "/Home/AttendancePOST",
                    success: function () {
                        console.log("Attendance successfully posted");
                    },
                    error: function (xhr) {
                        console.error('Failed to post attendance: ' + xhr.status);
                    }
                });
            });
        </script>
    }



</body>
</html>
