@model MyDuoCards.Models.DBModels.DictionaryStatement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>DictionaryStatement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="form-label mt-0 control-label" asp-for="Name"></label>
                <input class="form-control" asp-for="Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group d-flex" style="margin-top: 10px">
                <input class="btn btn-warning text-dark" style="margin-right: 10px" type="submit" value="Save" />
                <a class="btn btn-light" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

